{% extends "appbuilder/base.html" %}

{% block content %}
    <center>
        <img src='/static/img/SisPet.jpeg'>
        </img>
    </center>
    <center>
        <h3>
            SisPet - Sistema de gestão de saúde animal (SisPet)
        </h3>
    </center>
    <p style="font-size:20px;text-align:center;">
        O Sistema de gestão de saúde (SisPet) tem como objetivo integrar as áreas, automatizar processos e ampliar a eficiência das clínicas veterinárias. <br>
        A aplicação realiza a gestão dos seguintes pontos: <br> 
    </p>
        <div align="center">
            <p style="font-size:17px;" >
                1) cadastro de informações gerais dos animais;<br> 
                2) cadastro de informações gerais dos donos dos animais;<br>
                3) controle de consultas e suas reprogramações; <br>
                4) controle de saúde, dentre outros módulos.<br>    
            </p>
        </div>
    <p>

    <p style="font-size:20px;color:#008000;text-align:center;">
    Aplicação e os dados contidos no sistema são de resposabilidade do SisPet CopyRight. 
    </p>
{% endblock %}